{% if content %}
  {% if content.main %}
    <details {% if settings.open %}open="open"{% endif %}>
      <summary>{{ settings.label }}</summary>
      <div {{ region_attributes.main.addClass('main-region') }}>
        {{ content.main }}
      </div>
    </details>
  {% endif %}
{% endif %}
